<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Is It Phishy</title>
    <script src="https://kit.fontawesome.com/d5f016b17c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type='text/css' href="{% static  'CSS/style.css' %}">
</head>
<body>
    


    <nav class="navbar bg-dark">

        <div class="container">


            <a href="{% url 'home' %}"><img src="{% static  './img/logo1.png' %}" class="logo lg-heading text-light" height="150px"></a>
            <ul class="nav_items ">
                <li class="list-items" > <a href="{% url 'home' %}">home</a></li>
                <li class="list-items"> <a href="{% url 'about'%}">about</a></li>
                <li class="list-items"> <a href="{% url 'contact'%}">contact</a></li>
                <li class="list-items"> <a href="{% url 'complaint'%}">complaint</a></li>
                <li class="list-items"> <a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>


    </nav>


    <section class="contact-form">

        <div class="container">
            <div class="form-wrapper">

                <div class="company-adress">
                    <div class="address-group">
                        <i class="fas fa-map-marker-alt fa-3x text-red"></i>
                        <h2 class="text-gray md-heading">Location</h2>
                        <p>lorem ipsum</p>
                    </div>
                    <div class="address-group">
                        <i class=" far fa-envelope fa-3x text-red"></i>
                        <h2 class="text-gray md-heading">Email</h2>
                        <p>lorem ipsum</p>
                    </div>
                    <div class="address-group">
                        <i class=" fas fa-phone-square-alt fa-3x text-red"></i>
                        <h2 class="text-gray md-heading">call</h2>
                        <p>lorem ipsum</p>
                    </div>

                    <img src="" alt="company image">
                </div>
                <form action="" class="form">
                    space for form 
    
                </form>
    
            </div>
        </div>
        
    </section>

    


   

</body>
</html>